<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

    <span id="back">
      <a href="#">
        <img src="arrow.png" alt="">
      </a>
    </span>
